
<p *ngIf="novalue">NO SUCH VALUE EXISTS</p>

<div class="parent" *ngIf="!novalue">
    
    <div class=" child inline-block-child1" ><mat-toolbar color="warn">
        <span class="fill-remaining-space">{{action}}</span>
      </mat-toolbar>
      
      <div class="container"   > 
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup!.value)" class="form">
      
          <mat-form-field class="form-element">
            <input  type="text" matInput  placeholder="Name" formControlName="name">
            <mat-error *ngIf="!formGroup!.controls['name'].valid && formGroup!.controls['name'].touched">
                {{    getErrorTitle() }}               
            </mat-error>
          </mat-form-field>
     
          <mat-form-field class="form-element">
            <input type="text" matInput placeholder="Address" formControlName="address">
            <mat-error *ngIf="!formGroup!.controls['address'].valid && formGroup!.controls['address'].touched">
             
              {{  getDiscriptionError()}}
            </mat-error>
          </mat-form-field>
      
          <!-- <mat-form-field class="form-element">
            <input type="number" matInput placeholder="pageCount" formControlName="pageCount">
            <mat-error *ngIf="!formGroup!.controls['pageCount'].valid && formGroup!.controls['pageCount'].touched">
           {{ getPagecountError()}}
            </mat-error>
          </mat-form-field> -->
      
          <!-- <mat-form-field class="form-element">
            <input type="date" matInput placeholder="personDob" formControlName="dob">
            <!-- <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint> -->
            <!-- <mat-error *ngIf="!formGroup!.controls['dob'].valid && formGroup!.controls['dob'].touched">
              {{ getPublishedError() }}
            </mat-error>
          </mat-form-field> -->
          <!---------------------------------------------------------->
          <mat-form-field class="form-element">
            <input matInput  [matDatepicker]="picker1" placeholder="mm/dd/yyyy" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="!formGroup!.controls['dob'].valid && formGroup!.controls['dob'].touched">
                {{ getPublishedError() }}
              </mat-error>
          </mat-form-field>
          
    
    
         <!-- <mat-form-field class="form-element" >
            <input type="number" matInput placeholder="availableStock" formControlName="availableStock">
            <mat-error *ngIf="!formGroup!.controls['availableStock'].valid && formGroup!.controls['availableStock'].touched">
              {{  getAvailableStockError()}}
            </mat-error>
          </mat-form-field> -->
      
         
      
          <div class="form-element">
            <button mat-raised-button color="warn" type="submit" class="button" [disabled]="!formGroup!.valid">Submit Form</button>
          </div>
      
        </form>
        <button (click)="resetit()" class="Reset">Reset</button>
      </div>
     
    </div>
