:host {
    display: flex;
    justify-content: center;
    // margin: 100px 0px;
      background: url("../../image/pexels-photo.jpg") no-repeat center center fixed ;
      padding-top: 10%;
      padding-bottom: 15%;
   
   
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
   
  }
  .mat-success {
    background-color: green;
    color: black;
   
  width: 26%;
}
.mat-primary1 {
  background-color:rgb(8,129,209) ;
  color: #fff;
}
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
