<mat-form-field appearance="standard">
    <mat-label>Filter Table</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <!-- <ng-container matColumnDef="bookId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"  (click)="naviagtetobook(row.bookId)"> {{row.bookId}} </td>
      </ng-container>
     -->
     

      <!----title-->
      <ng-container matColumnDef="bookName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"  [ngClass]="{'changecursor':row}" (click)="navigatetotrack(row.bookId)"> {{row.bookName}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="authorName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Author Name </th>
        <td mat-cell *matCellDef="let row"> {{row.authorName}} </td>
      </ng-container>
  
      <!-- Name Column -->
     
      <ng-container matColumnDef="AvavilableStock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Stock </th>
        <td mat-cell *matCellDef="let row" [ngClass]=
        "{ 'negative' : row.availableStock === 0,
            'positive': row.availableStock > 0
         }"> {{row.availableStock}} </td>
      </ng-container>

      <!-- [ngClass]="{  for style specific row based on condition
        'positive' : row.availableStock > 0,
        'negative' : row.availableBalance <= 0
     }" -->
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="RentedBooks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rented Books </th>
        <td mat-cell *matCellDef="let row"> {{row.rentedBook}} </td>
      </ng-container>
      <ng-container matColumnDef="Overdue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Overdue </th>
        <td mat-cell *matCellDef="let row"> {{row.overdueBook}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[2,5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>