table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 20%;

  }
  
  .mat-header-row::ng-deep {
    background-color: gray;
  }
  
  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }
  .sha{
    background-color: red($color: #000000);
  }
  .negative{
    // background:  #F32013;
    text-decoration: #F32013;
   color: #F32013;


  }
  .positive{
    color: green
  }
  .changecursor:hover{
    cursor: pointer;
  }

 