<div>
<div class=" child inline-block-child">
<mat-form-field appearance="standard">
    <mat-label>Filter Table</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="personId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.personId}} </td>
      </ng-container>
    
  

      <!----title-->
      <ng-container matColumnDef="personDob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> D.O.B </th>
       
        <td mat-cell *matCellDef="let row"> {{row.personDob| date : "mediumDate"}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="personName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PersonName </th>
        <td mat-cell *matCellDef="let row"> {{row.personName}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="personAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let row"> {{row.personAddress}} </td>
      </ng-container>


      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row"> <button (click)="updatevalue(row)">Update</button> </td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="RentedBooks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RentedBooks </th>
        <td mat-cell *matCellDef="let row"> {{row.personRentedBook}} </td>
      </ng-container>
      <ng-container matColumnDef="Overdue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Overdue </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{ 
            'negative' : row.personOverdueBook.length > 0
         }"> {{row.personOverdueBook}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  </div>
  <!---------------------------------------------------------------------->

  <div class="parent">
    <div class=" child inline-block-child1" ><mat-toolbar color="warn">
        <span class="fill-remaining-space">Add Person Details</span>
      </mat-toolbar>
      
      <div class="container"   > 
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup!.value)" class="form">
      
          <mat-form-field class="form-element">
            <input  type="text" matInput  placeholder="personName" formControlName="name">
            <mat-error *ngIf="!formGroup!.controls['name'].valid && formGroup!.controls['name'].touched">
                {{    getErrorTitle() }}               
            </mat-error>
          </mat-form-field>
     
          <mat-form-field class="form-element">
            <input type="text" matInput placeholder="personAddress" formControlName="address">
            <mat-error *ngIf="!formGroup!.controls['address'].valid && formGroup!.controls['address'].touched">
             
              {{  getDiscriptionError()}}
            </mat-error>
          </mat-form-field>
      
          <!-- <mat-form-field class="form-element">
            <input type="number" matInput placeholder="pageCount" formControlName="pageCount">
            <mat-error *ngIf="!formGroup!.controls['pageCount'].valid && formGroup!.controls['pageCount'].touched">
           {{ getPagecountError()}}
            </mat-error>
          </mat-form-field> -->
      
          <!-- <mat-form-field class="form-element">
            <input type="date" matInput placeholder="personDob" formControlName="dob">
            <!-- <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint> -->
            <!-- <mat-error *ngIf="!formGroup!.controls['dob'].valid && formGroup!.controls['dob'].touched">
              {{ getPublishedError() }}
            </mat-error>
          </mat-form-field> -->
          <!---------------------------------------------------------->
          <mat-form-field class="form-element">
            <input matInput  [matDatepicker]="picker1" placeholder="mm/dd/yyyy" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="!formGroup!.controls['dob'].valid && formGroup!.controls['dob'].touched">
                {{ getPublishedError() }}
              </mat-error>
          </mat-form-field>
          
    
    
         <!-- <mat-form-field class="form-element" >
            <input type="number" matInput placeholder="availableStock" formControlName="availableStock">
            <mat-error *ngIf="!formGroup!.controls['availableStock'].valid && formGroup!.controls['availableStock'].touched">
              {{  getAvailableStockError()}}
            </mat-error>
          </mat-form-field> -->
      
         
      
          <div class="form-element">
            <button mat-raised-button color="warn" type="submit" class="button" [disabled]="!formGroup!.valid">Submit Form</button>
          </div>
      
        </form>
      </div>
    </div>
    
</div>