  
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    
  }

  .container {
    padding: 10px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }
  
  
  
  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }
  .inline-block-child1 {
    float: left;
    width: 35%;
   
    }
    .add{
        float: right;
        width: 180px;
        background: none;
        border: 1px solid green;
        font-size: 23px;
        // padding: 10px 20px;
        font-family: "montserrat";
        cursor: pointer;
        // margin: 10px;
        transition: 0.8s;
        position: relative;
        overflow: hidden;
        margin: 20px;
        height: 40px;
     
    
      }
      .mat-header-row::ng-deep {
        background-color: gray;
      }
      .changecursor:hover{
        cursor: pointer;
      }
    
      .add:hover{
        background-color: green;
      }
    .inline-block-child {
      float: left;
     margin-right: 10px;
      width: 100%;
      }