<mat-toolbar color="primary">
    <span>Library  Management</span>
    <div class="spacer"></div>
      <a mat-button  [routerLink]="['/home/dashboard']">Dashboard</a>
      <!-- <a mat-button  [routerLink]="['/home/createbook']">CreateBook</a> -->
      <a mat-button  [routerLink]="['/home/addperson']">Person</a>
      <a mat-button [routerLink]="['/home/addauthor']"> Author</a>
      <a mat-button [routerLink]="['/home/booktrack']">Book Rent</a>
      <a mat-button [routerLink]="['/home/showauthorbooks']">All Books</a>

      <a mat-button   (click)="logout1()"  >Logout</a>
    </mat-toolbar>

   <div>
    <router-outlet></router-outlet>
   </div>