<mat-toolbar color="primary">
    <span>Library  Management</span>
    <div class="spacer"></div>
      <a mat-button  [routerLink]="['/home/dashboard']" routerLinkActive="black">Dashboard</a>
      <!-- <a mat-button  [routerLink]="['/home/createbook']">CreateBook</a> -->
      <a mat-button  [routerLink]="['/home/person']" routerLinkActive="black">Person</a>
      <a mat-button [routerLink]="['/home/addauthor']" routerLinkActive="black" ariaCurrentWhenActive="page"> Author</a>
      <a mat-button [routerLink]="['/home/booktrack']" routerLinkActive="black">Book Rent</a>
      <a mat-button [routerLink]="['/home/showauthorbooks']" routerLinkActive="black">All Books</a>

      <a mat-button   (click)="logout1()"  >Logout</a>
    </mat-toolbar>

   <div>
    <router-outlet></router-outlet>
   </div>