<mat-toolbar color="primary">
    <span>Library  Management</span>
    <div class="spacer"></div>
      <a mat-button  [routerLink]="['/home/dashboard']">Dashboard</a>
      <a mat-button  [routerLink]="['/home/createbook']">CreateBook</a>
      <a mat-button  [routerLink]="['/home/addperson']">AddPerson</a>
      <a mat-button [routerLink]="['/home/addauthor']">AddAuthor</a>
      <a mat-button [routerLink]="['/home/booktrack']">BookTrack</a>
      <a mat-button   (click)="logout1()"  >Logout</a>
    </mat-toolbar>

   <div>
    <router-outlet></router-outlet>
   </div>