<div class="parent">
<div class=" child inline-block-child1" ><mat-toolbar color="primary">
    <span class="fill-remaining-space">Add Book To Library</span>
  </mat-toolbar>
  
  <div class="container"   > 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup!.value)" class="form">
  
      <mat-form-field class="form-element">
        <input  name="title" type="text" matInput  placeholder="title" formControlName="title" autocomplete="title">
        <mat-error *ngIf="!formGroup!.controls['title'].valid && formGroup!.controls['title'].touched">
            {{    getErrorTitle() }}               
        </mat-error>
      </mat-form-field>  
 
      <mat-form-field class="form-element">
        <input type="text" matInput placeholder="description" formControlName="description">
        <mat-error *ngIf="!formGroup!.controls['description'].valid && formGroup!.controls['description'].touched">
         
          {{  getDiscriptionError()}}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-element">
        <input type="number" matInput placeholder="pageCount" formControlName="pageCount">
        <mat-error *ngIf="!formGroup!.controls['pageCount'].valid && formGroup!.controls['pageCount'].touched">
       {{ getPagecountError()}}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="form-element">
        <input type="date" matInput placeholder="publisheddate" formControlName="publishDate">
        <!-- <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint> -->
        <mat-error *ngIf="!formGroup!.controls['publishDate'].valid && formGroup!.controls['publishDate'].touched">
          {{ getPublishedError() }}
        </mat-error>
      </mat-form-field>


     <mat-form-field class="form-element">
        <input type="number" matInput placeholder="availableStock" formControlName="availableStock">
        <mat-error *ngIf="!formGroup!.controls['availableStock'].valid && formGroup!.controls['availableStock'].touched">
          {{  getAvailableStockError()}}
        </mat-error>
      </mat-form-field>
     <!-- <mat-form-field class="form-element">
        <mat-label>select Author</mat-label>
        <mat-select formControlName="authorid">
          <mat-option *ngFor="let brand of author" [value]="brand.authorid">
            {{ brand.authorName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="authorid.hasError('required')">Please choose a author</mat-error>
      </mat-form-field>  -->
  
     
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup!.valid">Submit Form</button>
      </div>
  
    </form>
  </div>
</div>


<!-------------------------------------------> 
<div class="child inline-block-child">
    <mat-form-field appearance="standard">
        <mat-label>Filter Table</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container  matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.bookId}} </td>
          </ng-container>
        
         
    
          <!----title-->
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="Discription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Discription </th>
            <td mat-cell *matCellDef="let row"  > {{row.description}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="AvavilableStock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AvavilableStock </th>
            <td mat-cell *matCellDef="let row"  [ngClass]="{
                
                'negative' : row.availableBalance <= 0
             }"> {{row.availableStock}} </td>
          </ng-container>
        
          <!-- Fruit Column -->
          <ng-container matColumnDef="pageCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PageCount </th>
            <td mat-cell *matCellDef="let row"> {{row.pageCount}} </td>
          </ng-container>

          <!---publish-->
          <ng-container matColumnDef="publishDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PublishedDate </th>
            <td mat-cell *matCellDef="let row"> {{row.publishDate| date : "mediumDate"}} </td>
          </ng-container>
          <ng-container  matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let row"> <button (click)="updatevalue(row)">Update</button> </td>
          </ng-container>

      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr   mat-row *matRowDef="let row; columns: displayedColumns;"><button></button></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>


<!------------------------------------------------------------------->
      <mat-toolbar color="primary">
        <span class="fill-remaining-space">Assign Book To Author</span>
      </mat-toolbar>
      
      <div class="container"   > 
        <form [formGroup]="assignvalue" #commentNgForm="ngForm" (ngSubmit)="onSubmitAssign(assignvalue!.value)" class="form">
      
        
         <!-- <mat-form-field class="form-element">
            <mat-label>select Author</mat-label>
            <mat-select formControlName="authorid">
              <mat-option *ngFor="let brand of author" [value]="brand.authorid">
                {{ brand.authorName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="authorid.hasError('required')">Please choose a author</mat-error>
          </mat-form-field>  -->
          <mat-form-field class="form-element">
            <mat-label>select Author</mat-label>
            <input matInput type="text" [matAutocomplete]="auto"  formControlName="authorid"/>
                <mat-autocomplete #auto ="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let brand of filteredOptions " [value]="brand">
                {{ brand.authorName }}
              </mat-option>
            </mat-autocomplete>
        
            <mat-error *ngIf="authorid.hasError('required')">Please choose a author</mat-error>
          </mat-form-field> 
          <!--------------------------------------------------->
          <mat-form-field class="form-element">
            <mat-label>select Book</mat-label>
            <input matInput type="text" [matAutocomplete]="auto1"  formControlName="bookId"/>
                <mat-autocomplete #auto1 ="matAutocomplete" [displayWith]="displayFn1">
              <mat-option *ngFor="let brand1 of filteredOptions1" [value]="brand1">
                {{ brand1.title }}
              </mat-option>
            </mat-autocomplete>
        
            <mat-error *ngIf="authorid.hasError('required')">Please choose a Book</mat-error>
          </mat-form-field> 
<!------------------------------------------------->
          <!-- <mat-form-field class="form-element">
            <mat-label>select Book</mat-label>
            <mat-select formControlName="bookId">
              <mat-option *ngFor="let brand of posts" [value]="brand.bookId ">
                {{ brand.title }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="bookId.hasError('required')">Please choose a book</mat-error>
          </mat-form-field>  -->
      
         
      
          <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!assignvalue!.valid">Submit Form</button>
          </div>
      
        </form>
</div>
</div>