// .formRelated  {
//   width: 30%;
// }

.inline-block-child1 {
  float: left;
  width: 35%;
  }
  .inline-block-child {
    float: left;
    margin-left: 20px;
    width: 63%;
    }
  
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .container {
    padding: 10px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  table {
    width: 100%;
  }
  .positive {
    background-color: green;
}

.negative {
    background-color: red;
}
  
  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }
  
  
  
  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }